body{
  background: #273143;
}
input[type=text]{
  color: #B4CA60;
 border:50px;
 border-style: hidden;
 background: #273143;
 border-bottom: 5px solid #B4CA60;
 margin: 8px 0;
 font-size: 20px;
}

#enter {
  border: none;
  padding: 5px 15px;
  border-radius: 5px;
  font-weight: normal;
  background: #273143 ;
  margin: 8px 0;
  color: #B4CA60  ;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 20px;
}
h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 55px;
  font-weight: 600;
  text-transform: capitalize;
  color: #B4CA60;
  text-align: center;
}
p{
  font-family: Arial, Helvetica, sans-serif;
  font-style: bold ;
  font-size: 20px;
  font-weight: 600;
  color: #B4CA60;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  margin-top: 20px;
}

li {
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  padding: 10px 20px;
  color: #ffffff;
  text-transform: capitalize;
  font-weight: 600;
  border: 2px solid #B4CA60;
  border-radius: 10px;
  border-top: hidden;
  margin-bottom: 10px;
  background: #303B4F;
}

li > button {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  background:none;
  border: 2px solid #B4CA60;
  border-radius: 50%;
  float: right;
  color: #B4CA60;
  font-weight: 800;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 5px;
  min-width: 45%;
  padding: 5px;
  border: 2px solid #B4CA60;
}
